:root {
  --color-primary: #c9160d;
  --color-primary-yellow: #7b050a; }

.banner-inner__product {
  top: 200px; }

.banner-text__product-text {
  color: var(--color-primary); }

.banner-product {
  background-image: url(../../img/homepagev2/banner-product.png);
  object-fit: cover;
  height: 550.67px;
  background-size: cover; }

.product-camen {
  margin-top: 64.33px; }

.product-gridcore {
  grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .product-gridcore__food {
    grid-template-rows: repeat(1, minmax(0, 1fr)); }

.homepagev2 {
  margin: 0 9px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr)); }
  @media (min-width: 1200px) {
    .homepagev2 {
      display: flex;
      justify-content: center; } }
  .homepagev2 .grid-itemv2--size1 {
    grid-column: span 2 / span 2; }
    .homepagev2 .grid-itemv2--size1 img {
      object-fit: contain; }
    @media (min-width: 375px) {
      .homepagev2 .grid-itemv2--size1 {
        place-self: start; } }
    @media (min-width: 1024px) {
      .homepagev2 .grid-itemv2--size1 {
        border-radius: 10px;
        width: 375px;
        height: 253px; } }
    @media (min-width: 1200px) {
      .homepagev2 .grid-itemv2--size1 {
        width: 556px;
        height: 468px; } }
  .homepagev2 .grid-itemv2--size2 img {
    object-fit: contain; }
  @media (min-width: 375px) {
    .homepagev2 .grid-itemv2--size2 {
      margin-bottom: 17px; } }
  @media (min-width: 1024px) {
    .homepagev2 .grid-itemv2--size2 {
      width: 375px;
      height: 253px; } }
  @media (min-width: 1200px) {
    .homepagev2 .grid-itemv2--size2 {
      margin-top: 104px;
      width: 375px;
      height: 253px; } }
  .homepagev2 .grid-itemv2--size3 img {
    object-fit: contain; }
  @media (min-width: 375px) {
    .homepagev2 .grid-itemv2--size3 {
      margin-top: -50px; } }
  @media (min-width: 1024px) {
    .homepagev2 .grid-itemv2--size3 {
      width: 375px;
      height: 253px; } }
  @media (min-width: 1200px) {
    .homepagev2 .grid-itemv2--size3 {
      width: 341px;
      height: 357px; } }
  .homepagev2 .grid-itemv2--size4 img {
    object-fit: contain; }
  @media (min-width: 375px) {
    .homepagev2 .grid-itemv2--size4 {
      margin-left: -2px; } }
  @media (min-width: 375px) {
    .homepagev2 .grid-itemv2--size4 {
      place-self: start; } }
  @media (min-width: 1024px) {
    .homepagev2 .grid-itemv2--size4 {
      width: 375px;
      height: 253px; } }
  @media (min-width: 1200px) {
    .homepagev2 .grid-itemv2--size4 {
      width: 212px;
      height: 225px; } }
  .homepagev2 .grid-itemv2--size5 img {
    object-fit: contain; }
  @media (min-width: 375px) {
    .homepagev2 .grid-itemv2--size5 {
      place-self: start; } }
  @media (min-width: 1024px) {
    .homepagev2 .grid-itemv2--size5 {
      width: 375px;
      height: 253px;
      margin-left: 0px; } }
  @media (min-width: 1200px) {
    .homepagev2 .grid-itemv2--size5 {
      width: 340px;
      height: 357px; } }
  .homepagev2 .grid-itemv2--size6 {
    grid-column: span 2 / span 2; }
    .homepagev2 .grid-itemv2--size6 img {
      object-fit: contain; }
    @media (min-width: 375px) {
      .homepagev2 .grid-itemv2--size6 {
        place-self: start;
        margin-top: -56px; } }
    @media (min-width: 1024px) {
      .homepagev2 .grid-itemv2--size6 {
        width: 375px;
        height: 253px; } }
    @media (min-width: 1286px) {
      .homepagev2 .grid-itemv2--size6 {
        margin-top: -111px;
        width: 723px;
        height: 365px; } }
