.porridge {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 17px;
  margin-top: 33px;

  &__leftside {
    background-image: url("../img/homepagev2/banneranimation.png");
    background-size: cover;
    grid-column: span 2 / span 2;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    // max-width: 730px;
    max-height: 100%;
    p {
      background-size: cover;
    }
    h1 {
      font-size: 26px;
      font-weight: 900;
      color: var(--color-primary);
      text-transform: uppercase;
      text-align: center;
      padding: 0 160px;
    }
  }
  &__rightside {
    grid-column: span 1 / span 1;
  }
  &__topchaobot {
    // width: ;
  }
  &__bannerchaobot {
    background-image: url("../img/homepagev2/bannerchaobot.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 550px;
    &--text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-self: center;
      padding-left: 55px;
      padding-top: 55px;
      flex: 0 0 43%;
      h2 {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-primary);
        text-transform: uppercase;
        text-align: center;
      }
    }

    &--img {
      padding-top: 50px;
      width: 326px;
      height: 326px;

      img {
        height: 100%;
      }
    }
  }

  .toomany_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
    &__img {
      width: 336px;
      height: 384.54px;
    }

    &__context {
      flex: 0 0 51%;
      p:first-child {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-primary);
        text-transform: uppercase;
        text-align: center;
      }
      p:nth-child(2) {
        padding-top: 21px;
      }
      p:nth-child(3) {
        padding-top: 21px;
      }
      p:last-child {
        padding-top: 21px;
      }
    }
  }

  .feeling-customer {
    &__content {
      h3 {
        font-size: 20px;
        font-weight: 900;
        color: var(--color-primary);
        text-transform: uppercase;
        text-align: center;
      }
      p {
        padding-top: 23px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
